<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Teste B3 Webapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <h1>
    Teste B3 - WebAp - Leonardo
  </h1>

 <div class="section-simular">

    <button mat-fab extended color="primary" class="button-simular" (click)="addSimulacao()">
      <mat-icon> account_balance</mat-icon>
      Simular CDB
    </button>
  </div>

 
<br />
<br />
<br />
  <div class="container mat-elevation-z8">
    <h2>Simulação do CDB</h2>
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter issues">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <!-- ID Column -->
      <ng-container matColumnDef="mes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mes</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.mes}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="valorMonetario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Monetário</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.valorMonetario | currency}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="valorBruto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Bruto</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.valorBruto | currency}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="valorLiquido">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Líquido</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.valorLiquido | currency}}</mat-cell>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addSimulacao()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>


      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

</div>