.padding50 {
  padding: 50px 0;
}

.padding100 {
  padding: 100px 0;
}


.padding150 {
  padding: 150px 0;
}

.noMargin {
  margin-bottom: 0px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.full-page {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed;
}

.carousel-item img {
  height: 300px;

}

.content {
  margin-top: 70px;
  padding: 20px;
}


.section-simular {
  float: right;
  width: 230px;
  margin-right: 350px;
height: 100px;
}

.button-simular {

  width: 100%;
}