<div class="container">
    <h3 mat-dialog-title>Simular CDB</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" >
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput  type="number" step="0.01" class="form-control" placeholder="Valor Monetário"  [(ngModel)]="data.valorMonetario" name="valorMonetario"  required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" #input class="form-control" placeholder="Total Meses resgate" [(ngModel)]="data.totalMesesResgate" name="valorMonetario"  required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
     
  
  
      <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmSearch()">Simular</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </form>
  </div>
  